:root {
	--dark-color: #333;
	--light-color: #fff;
	--light-grey-color: #f4f4f4;
	--grey-color: #ddd;
	--dark-grey-color: #ccc;
	--primary-color: rgb(255, 115, 0);
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	color: var(--dark-color);
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	grid-template-rows: auto 1fr 50px;
}

a {
	text-decoration: inherit;
	color: inherit;
}
header {
	grid-row: 1;

	background-color: red;
}
header .navbar {
	background-color: lightgreen;
}

.main-area {
	grid-row: 2;
	height: 100%;
	background-color: var(--primary-color);
}

footer {
	grid-row: 3;

	color: var(--dark-color);
	background-color: rgba(178, 49, 32, 0.267);
	text-align: center;
	padding: 20px;
}

.navbar > ul {
	background-color: var(--light-grey-color);
	display: flex;
	flex-direction: row;
}

.navbar > ul > li.list {
	list-style: none;
	/* text-align: center; */
	padding: 15px 20px;
	position: relative;
}

.navbar > ul > li.list:hover {
	background-color: var(--primary-color);
	color: var(--light-color);
	cursor: pointer;
}

.navbar > ul > li.list > ul.drop-down-list {
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	flex-direction: column;
	background-color: var(--grey-color);
	/* opacity: 0.8; */
}

.navbar > ul > li.list:hover > ul.drop-down-list {
	display: flex;
	color: var(--dark-color);
}

.navbar > ul > li.list > ul.drop-down-list > li {
	list-style: none;
	padding: 15px 15px;
	width: 150px;
}

.navbar > ul > li.list > ul.drop-down-list > li:hover {
	background-color: var(--dark-grey-color);
}

.circle {
	background-color: var(--primary-color);
	border-radius: 80%;
	padding: 10px;
	margin: auto 5px;
	text-align: center;
	text-justify: center;
	color: var(--light-grey-color);
}

@media (max-width: 500px) {
	.navbar > ul {
		flex-direction: column;
		text-align: center;
	}

	.navbar > ul > li.list:hover {
		padding: 5px;
	}
	.navbar > ul > li.list:hover > i {
		padding-bottom: 10px;
	}
	.navbar > ul > li.list > ul.drop-down-list {
		opacity: 0.9;
		position: relative;
	}

	.navbar > ul > li.list > ul.drop-down-list li {
		width: 100%;
		/* position: relative; */
	}
}
