/* 
to use this time line read readme- include css stylesheet in html and use this structure: 
  
<section class="timeline">
			<ul>
				<li>
					<div class="mark"></div>
					<div class="item">
						<h3>some text</h3>
						<p>
							some text
						</p>
					</div>
				</li>
</section>



*/

/* Time Line */

:root {
	--primary-color: #425b84;
	--secondary-color: #5b7bb4;
	--dark-color: #333;
	--light-color: #fff;
	--max-width: 1100px;
}

/* white line   */
.timeline::before {
	content: ' ';
	position: absolute;
	left: 50%;
	width: 5px;
	height: 94%;
	background-color: var(--light-color);
}

.timeline {
	background-color: var(--primary-color);
	color: var(--light-color);
	position: relative;
	padding: 40px 0;
}

.timeline ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.timeline ul li {
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 50%;
	margin-bottom: 60px;
	position: relative;
}

.timeline ul li:nth-child(odd) {
	padding-right: 20px;
	align-self: flex-end;
}

.timeline ul li:nth-child(even) {
	padding-left: 20px;
	flex-direction: row-reverse;
}

.mark {
	position: relative;
	width: 10%;
}

.timeline ul li > .item {
	width: 90%;
	max-width: 400px;
	padding: 20px;
	transition: all 0.5s ease-in-out;
	background-color: var(--secondary-color);
}

.timeline ul li:nth-child(odd) .item {
	border-radius: 3px 3px 3px 0px;
}

.timeline ul li:nth-child(even) .item {
	border-radius: 3px 3px 0 3px;
}

/* Dots */

.timeline ul li::after {
	content: ' ';
	bottom: 0;
	width: 25px;
	height: 25px;
	position: absolute;
	background-color: var(--secondary-color);
	transition: background 0.5s ease-in-out;
	border-radius: 50%;
}

.timeline ul li:nth-child(odd)::after {
	transform: translate(-9.5px, 0px);
}

.timeline ul li:nth-child(even)::after {
	transform: translate(15.5px, 0px);
}

/* Arrows on div */

.timeline ul li .mark::before {
	content: '';
	position: absolute;
	width: 10%;
	height: 0px;
	bottom: 5px;
	border-style: solid;
	/* background-color: teal; */
}

.timeline ul li:nth-child(odd) .mark::before {
	right: 0px;
	border-width: 8px 16px 8px 0;
	border-color: transparent var(--secondary-color) transparent transparent;
}

.timeline ul li:nth-child(even) .mark::before {
	/* left: 0px; */
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent var(--secondary-color);
}

@media (max-width: 750px) {
	/* White line */
	.timeline ul li .item {
		width: 80%;
	}

	.timeline ul li:nth-child(odd) .mark {
		margin-left: 10%;
	}

	.timeline ul li:nth-child(even) .mark {
		margin-right: 10%;
	}
}

@media (max-width: 450px) {
	/* White line */
	.timeline::before {
		left: 10%;
	}
	.timeline ul li {
		width: 90%;
	}
	.timeline ul li > .item {
		width: 250px;
	}

	.timeline ul li:nth-child(odd) {
		padding-right: 10px;
		/* background-color: lightslategray; */
	}

	.timeline ul li:nth-child(even) {
		padding-right: 10px;
		padding-left: 0px;
		flex-direction: row;
		align-self: flex-end;
		/* background-color: lawngreen; */
	}
	/* Dot */
	.timeline ul li:nth-child(even)::after {
		transform: translate(-9.5px, 0px);
	}

	/* Arrow */
	.timeline ul li:nth-child(even) .mark::before {
		right: 0px;
		border-width: 8px 16px 8px 0;
		border-color: transparent var(--secondary-color) transparent transparent;
	}

	.timeline ul li:nth-child(even) .item {
		border-radius: 3px 3px 3px 0px;
	}

	.timeline ul li:nth-child(odd) .mark {
		margin-left: 10%;
	}

	.timeline ul li:nth-child(even) .mark {
		margin-right: 0;
		margin-left: 10%;
	}
}
