@import 'config'; // General Styles
@import 'utilities'; // Utilities

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Dosis', sans-serif;
	line-height: 1.6;
	background-color: #fff;
	display: grid;
	grid-column: 1fr;
}

a {
	text-decoration: none;
	color: $dark-color;
}

ul {
	list-style: none;
}

h2,
h3,
h4 {
	text-transform: uppercase;
}

img {
	width: 100%;
}

#header-home {
	background: $bg-image no-repeat center right / cover;
	display: grid;
	padding-top: 1rem;
}

#header-home > div {
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template-rows: 100px 1fr;
}
#header-home #main-nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	// justify-self: flex-end;
	// align-self: flex-start;
	// border: 2px red solid;
}

#header-home #logo {
	display: inline-block;
	width: 60px;
	height: 60px;
}

#header-home #main-nav > ul {
	display: flex;
	gap: 1rem;
	align-items: flex-start;
	padding-top: 1rem;

	// border: blue 1px solid;
}
#header-home #main-nav > ul > li > a {
	font-weight: 800;
	color: #fff;

	&:hover {
		opacity: 0.8;
		font-weight: 900;
		color: $main-color;
	}
}

#header-home #header-content {
	color: #fff;
	text-align: center;
	padding-top: 15%;
	// font-size: 1.4rem;
	// margin: auto;

	span {
		color: $main-color;
	}
}

.nav-current {
	border-bottom: solid;
}

#home-a {
	padding-top: 20px;
	text-align: center;
	display: grid;
	grid-template-rows: auto auto;
	i {
		color: $main-color;
	}

	.icons-titles {
		// font-size: 1.3rem;
		// font-weight: 600;
		padding-bottom: 30px;
	}

	.icons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 25px;
		text-align: center;
		text-justify: auto;
		padding-bottom: 20px;
	}
}

#home-b {
	@extend .py-2;
	@extend .f-2;
	font-weight: 900;
	display: grid;

	.projects {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		justify-items: center;
		text-align: center;

		// i {
		// 	color: $main-color;
		// }
		div {
			@extend .py-1;
			width: 100%;

			&:nth-child(even) {
				background: $light-color;
			}
			&:nth-child(odd) {
				background: $medium-color;
			}
		}
	}
}

#home-c {
	display: grid;
	grid-template-rows: auto auto auto auto;
	align-items: center;
	text-align: center;
	padding: 2rem;

	.home-c-icons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;
		gap: 1.3rem;
		padding-top: 1rem;
	}
	i {
		position: relative;
		background: $dark-color;
		color: $light-color;
		font-size: 1.8rem;
		// padding: 2rem;
		width: 85px;
		height: 85px;
		line-height: 85px;
		text-align: center;
		border-radius: 50%;
		transition: all 0.5s;
		&:hover {
			background-color: $main-color;
			transition: all 0.5s;
			width: 95px;
			height: 95px;
			line-height: 95px;
			> div {
				background-color: $dark-color;
				background-color: $dark-color;
				transition: all 0.5s;
				width: 40px;
				height: 40px;
				line-height: 40px;
			}
		}

		.highlight-number {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 20px;
			background-color: $main-color;
			border-radius: 50%;
			text-align: center;
			width: 30px;
			height: 30px;
			line-height: 30px;
			transition: all 1s;
		}
	}
}

footer {
	display: grid;
	width: 100%;
	background-color: $dark-color;
	color: $light-color;
	// align-items: center;
	padding: 0.5rem 0;
	font-size: 1.1rem;

	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}

	p {
		align-self: center;
	}
	.links {
		grid-column: 2;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		gap: 1rem;
	}

	a {
		border: $light-color 1px solid;
		// padding: 0.7rem;
		border-radius: 50%;
		cursor: pointer;
		color: $light-color;

		&:hover {
			background-color: $main-color;
		}
		i {
			padding: 1rem;
		}
	}
}
